.table-container {
    width: 100%; /* Asegúrate de que el contenedor de la tabla use todo el ancho disponible */
    margin: auto; /* Centrar la tabla si no ocupa todo el ancho */
    max-width: 98%; /* Puedes ajustar este valor para que la tabla sea más ancha */
}

/* En tu estilotabla.css */
.th-td-width {
    min-width: 120px; /* Ajusta este valor según necesites */
}


.shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.border-b, .divide-y > * {
    border-bottom: 1px solid #e2e8f0;
}

.bg-white {
    background-color: #ffffff;
}

.bg-gray-50 {
    background-color: #f9fafb;
}

.text-gray-500 {
    color: #6b7280;
}

.p-6 {
    padding: 1.5rem;
}

.py-3, .px-6 {
    padding: 1.5rem; /* Aumenta el padding para un mejor espaciado */
}

.text-xs, .text-sm {
    font-size: 0.875rem; /* Ajusta el tamaño de la fuente si es necesario */
    line-height: 1.5; /* Mejorar la legibilidad */
}

.font-medium {
    font-weight: 500;
}

.uppercase {
    text-transform: uppercase;
}

.tracking-wider {
    letter-spacing: 0.05em;
}

.whitespace-nowrap {
    white-space: nowrap;
}

/* Estilos para botones para asegurar visibilidad */
button {
    margin: 0 5px; /* Asegura un espaciado entre botones */
}

.hover\:text-indigo-900:hover, .hover\:text-red-900:hover {
    cursor: pointer; /* Mejora la interactividad */
}
